body {
    background: url(/web/images/bg3.png) repeat left top;
}

header .logo img {
    margin-bottom: -10px;
}

.jumbotron {
    margin: 20px 0;
    text-align: center;
}

.jumbotron h1 {
    font-size: 100px;
    line-height: 1;
    font-weight: bold;
}

.jumbotron .lead {
    font-size: 24px;
    line-height: 1.25;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

#content {
    /*padding-top: 10px;*/
}

.icon-circled {
    /*background: none !important;*/
}

/* MARKETING CONTENT
-------------------------------------------------- */

.marketing {
    padding: 0;
}

/* Center align the text within the three columns below the carousel */
.marketing .span4 {
    /*text-align: center;*/
}

.marketing h2 {
    font-weight: normal;
}

.marketing .span4 p {
    /*margin-left: 10px;
    margin-right: 10px;*/
}

/* Featurettes
------------------------- */

.pricing-box-wrap .pricing-action {
    background: none repeat scroll 0 0 #FFFFFF;
}

header .top p.topcontact {
    font-size: 24px;
}

.featurette-divider {
    margin: 30px 0; /* Space out the Bootstrap <hr> more */
}

.featurette {
    padding-top: 10px; /* Vertically center images part 1: add padding above and below text. */
    overflow: hidden; /* Vertically center images part 2: clear their floats. */
}

.featurette-image {
    margin-top: -120px; /* Vertically center images part 3: negative margin up the image the same amount of the padding to center it. */
}

/* Give some space on the sides of the floated elements so text doesn't run right into it. */
.featurette-image.pull-left {
    margin-right: 40px;
}

.featurette-image.pull-right {
    margin-left: 40px;
}

/* Thin out the marketing headings */
.featurette-heading {
    font-size: 50px;
    font-weight: 300;
    line-height: 1;
    letter-spacing: -1px;
}

#make-wide {
    margin-right: 10px;
    margin-left: 10px;
    margin-bottom: 10px
}

.row-fluid ul.thumbnails li.span12 + li {
    margin-left: 0px !important;
}

.row-fluid ul.thumbnails li.span6:nth-child(2n + 3) {
    margin-left: 0px !important;
}

.row-fluid ul.thumbnails li.span4:nth-child(3n + 4) {
    margin-left: 0px !important;
}

.row-fluid ul.thumbnails li.span3:nth-child(4n + 5) {
    margin-left: 0px !important;
}

.row-fluid ul.thumbnails li.span2:nth-child(6n + 7) {
    margin-left: 0px !important;
}

.row-fluid ul.thumbnails li.span1:nth-child(12n + 13) {
    margin-left: 0px !important;
}

.list-view ul.thumbnails li.span12 + li {
    margin-left: 0px !important;
}

.list-view ul.thumbnails li.span6:nth-child(2n + 3) {
    margin-left: 0px !important;
}

.list-view ul.thumbnails li.span4:nth-child(3n + 4) {
    margin-left: 0px !important;
}

.list-view ul.thumbnails li.span3:nth-child(4n + 5) {
    margin-left: 0px !important;
}

.list-view ul.thumbnails li.span2:nth-child(6n + 7) {
    margin-left: 0px !important;
}

.list-view ul.thumbnails li.span1:nth-child(12n + 13) {
    margin-left: 0px !important;
}

.map {
    margin-bottom: 20px !important;
    margin-top: -30px !important;
    position: relative !important;
}

#root-container {
    background-color: #FFF;
}

footer {
    background: none repeat scroll 0 0 #222222;
    color: #BBBBBB;
    padding: 20px 0 0;
    margin-top: 20px;
}

h1.calculator {
    background: url("/web/images/calc.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    padding: 10px 0px 15px 75px;
}

input.input-large {
    font-size: 22px !important;
    padding: 18px 30px !important;
}

.calc-cost span, .calc-cost i {
    font-size: 25px;
    color: #000;
}

.total-cost span, .total-cost i {
    font-size: 30px;
    color: #000;
    font-weight: bold;
}

#calculator-form h5 {
    margin-bottom: 4px;
}

#calculator-form .checkbox {
    /*
    font-size: 22px;
    font-weight: 400;
    */
}

#calculator-form hr {
    margin: 10px 0;
}

#calculator-form label.large {
    font-size: 22px;
    font-weight: 400;
}

#calculator-form .checkbox {
    padding-left: 0;
}

#calculator-form .row-fluid, #calculator-form .well {
    display: flex;
    align-items: center;
}